{% extends "layout.njk" %}
{% import "parts/section-recipes.njk" as section %}

{% block content %}
    <section class="search-recipes container">

        <aside>
            <div class="header">
                <h2>{{search.term}}</h2>
                <p>{{search.total}} encontrados</p>                
            </div>

            <nav class="Categorias">
                <h4>Categorias</h4>
                <ul>
                    {% for category in categories%}
                        <li><a href="/recipes/search?filter={{search.term}}&category={{category.id}}">{{category.name}}</a></li>
                    {%endfor%}
                </ul>
            </nav>
        </aside>
        
        {{section.recipes('', 'searched', recipes)}}

    </section>

{% endblock content %}