{% extends "layout.njk" %}

{% block content %}
  
    <div class="MoreViews">
        <h2>RECEITAS DESTAQUES</h2>

       
        <div class="box-container">
            {# SLIDER #}
            <ul id="autoWidth" class="cs-hidden">
                {%for recipe in recipes %}
                {# -------- separacao de cada item ------ #}
                <li class="item-a"> 
                   <a href="#">
                         {# slider box #}
                    <div class="box">
                        <img src="http://placehold.it/224x224?text=RECEITA SEM FOTO"  alt="">

                        <div class="details">
                            <h5>{{recipe.title}}</h5>
                    
                        </div>
                
                    </div>   
                   </a> 
                </li>
                {% endfor %}
            </ul> 

        </div>
    </div>


       <div class="MoreViews">
        <h2>Experimente</h2>

       
        <div class="box-container">
            {# SLIDER #}
            <ul id="autoWidth2" class="cs-hidden">
                {%for recipe in recipes %}
                {# -------- separacao de cada item ------ #}
                <li class="item-a"> 
                   <a href="/recipes/{{recipe.id}}">
                         {# slider box #}
                    <div class="box">
                         <div class="image" style="background-image:url('{{ recipe.img if recipe.img else '//placehold.it/450x400?text=RECEITA SEM FOTO' }}')"
                         >                   

                        </div>

                        <div class="nota">
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                            {# Trocar para este que esta comentado #}
                        {# <i class="material-icons">star_rate</i> #}

                    </div>

                        <div class="details">
                            <h5>{{recipe.title}}</h5>
                    
                        </div>
                
                    </div>   
                   </a> 
                </li>
                {% endfor %}
            </ul> 

        </div>
    </div>



       <div class="MoreViews">
        <h2>Você também pode gostar</h2>

       
        <div class="box-container">
            {# SLIDER #}
            <ul id="autoWidth3" class="cs-hidden">
                {%for recipe in recipes %}
                {# -------- separacao de cada item ------ #}
                <li class="item-a"> 
                   <a href="#">
                         {# slider box #}
                    <div class="box">
                        <img src="http://placehold.it/224x224?text=RECEITA SEM FOTO"  alt="">

                        <div class="details">
                            <h5>{{recipe.title}}</h5>
                    
                        </div>
                
                    </div>   
                   </a> 
                </li>
                {% endfor %}
            </ul> 

        </div>
    </div>

    <div class="title-container">
        <h3>As Melhores Dicas</h3>
    </div>

    <div class="tips-container">
        
        <div class="box-tips">
            <div class="tips-cards">
                    <img src="http://placehold.it/370x180?text=DICA SEM FOTO"  alt="">

                    <div class="info">
                        <p>Saiba a diferenca entre delivery, drive thu e take awaiy e como usa-los no seu segocio alimenticio</p>
                    </div>

                    <div class="readmore">
                        <a href="">Continue Lendo</a>
                    </div>
            </div>

            <div class="tips-cards">
                    <img src="http://placehold.it/370x180?text=DICA SEM FOTO"  alt="">

                    <div class="info">
                        <p>Saiba a diferenca entre delivery, drive thu e take awaiy e como usa-los no seu segocio alimenticio</p>
                    </div>

                    <div class="readmore">
                       <a href="">Continue Lendo</a>
                    </div>
            </div>


            <div class="tips-cards">
                    <img src="http://placehold.it/370x180?text=DICA SEM FOTO"  alt="">

                    <div class="info">
                        <p>Saiba a diferenca entre delivery, drive thu e take awaiy e como usa-los no seu segocio alimenticio</p>
                    </div>

                    <div class="readmore">
                        <a href="">Continue Lendo</a>
                    </div>
            </div>


            <div class="tips-cards">
                    <img src="http://placehold.it/370x180?text=DICA SEM FOTO"  alt="">

                    <div class="info">
                        <p>Saiba a diferenca entre delivery, drive thu e take awaiy e como usa-los no seu segocio alimenticio</p>
                    </div>

                    <div class="readmore">
                        <a href="">Continue Lendo</a>
                    </div>
            </div>

            <div class="tips-cards">
                    <img src="http://placehold.it/370x180?text=DICA SEM FOTO"  alt="">

                    <div class="info">
                        <p>Saiba a diferenca entre delivery, drive thu e take awaiy e como usa-los no seu segocio alimenticio</p>
                    </div>

                    <div class="readmore">
                        <a href="">Continue Lendo</a>
                    </div>
            </div>

            <div class="tips-cards">
                    <img src="http://placehold.it/370x180?text=DICA SEM FOTO"  alt="">

                    <div class="info">
                        <p>Saiba a diferenca entre delivery, drive thu e take awaiy e como usa-los no seu segocio alimenticio</p>
                    </div>

                    <div class="readmore">
                        <a href="">Continue Lendo</a>
                    </div>
            </div>

            
        </div>
    </div>


    <div class="title-container">
        <h3>Usuarios do mês</h3>
    </div>

    <div class="MoreViews">
        <div class="box-container-user">
            {# SLIDER #}
            <ul  class="">
                {# -------- separacao de cada item ------ #}
                <li class="item-a"> 
                   <a href="#">
                         {# slider box #}
                    <div class="box">
                        <img src="http://placehold.it/224x220?text=USUARIO SEM FOTO"  alt="">

                        <div class="user-details">
                            <i class="material-icons">brightness_high</i>
                            <h5>FULANO  da Silva</h5>
                            <p><span>Nivel:</span> Master-Chef</p>
                            <p>10 receitas enviadas</p>                    
                        </div>
                
                    </div>   
                   </a> 
                </li>

                {# -------- separacao de cada item ------ #}
                <li class="item-a"> 
                   <a href="#">
                         {# slider box #}
                    <div class="box">
                        <img src="http://placehold.it/224x220?text=USUARIO SEM FOTO"  alt="">

                        <div class="user-details">
                            <i class="material-icons">brightness_high</i>
                            <h5>Sicrano henriques da Oliveira</h5>
                            <p><span>Nivel:</span> Master-Chef</p>
                            <p>10 receitas enviadas</p>                    
                        </div>
                
                    </div>   
                   </a> 
                </li>

                {# -------- separacao de cada item ------ #}
                <li class="item-a"> 
                   <a href="#">
                         {# slider box #}
                    <div class="box">
                        <img src="http://placehold.it/224x220?text=USUARIO SEM FOTO"  alt="">

                        <div class="user-details">
                            <i class="material-icons">brightness_high</i>
                            <h5>Beltrano Soares da Silva</h5>
                            <p><span>Nivel:</span> Master-Chef</p>
                            <p>10 receitas enviadas</p>                    
                        </div>
                
                    </div>   
                   </a> 
                </li>

                {# -------- separacao de cada item ------ #}
                <li class="item-a"> 
                   <a href="#">
                         {# slider box #}
                    <div class="box">
                        <img src="http://placehold.it/224x220?text=USUARIO SEM FOTO"  alt="">

                        <div class="user-details">
                            <i class="material-icons">brightness_high</i>
                            <h5>Cumpade MORAIS MOREIRA</h5>
                            <p><span>Nivel:</span> Master-Chef</p>
                            <p>10 receitas enviadas</p>                    
                        </div>
                
                    </div>   
                   </a> 
                </li>

                {# -------- separacao de cada item ------ #}
                <li class="item-a"> 
                   <a href="#">
                         {# slider box #}
                    <div class="box">
                        <img src="http://placehold.it/224x220?text=USUARIO SEM FOTO"  alt="">

                        <div class="user-details">
                            <i class="material-icons">brightness_high</i>
                            <h5>Coisinha   da Silva</h5>
                            <p><span>Nivel:</span> Master-Chef</p>
                            <p>10 receitas enviadas</p>                    
                        </div>
                
                    </div>   
                   </a> 
                </li>
            </ul> 

        </div>
    </div>



{% endblock content %}