


<div class="item">
    <div>Nome Completo</div>
    <div class="input">
        <input type="text" 
        name="name" 
        value="{{user.name}}" 
        placeholder="Digite seu nome completo"/>
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div class="input">
        <input type="email" 
        name="email" 
        value="{{user.email}}" 
        placeholder="Digite seu email"
        onblur="Validate.apply(this , 'isEmail')"
        />
    </div>
</div>

<div class="item">
    <div>Senha:</div>
    <div class="input">
        <input type="password" 
        name="password" 
        placeholder="Senha"/>
    </div>
</div>


{% if not user.id %}

<div class="item">
    <div>Confirme a Senha:</div>
    <div class="input">
        <input type="password" 
        name="passwordRepeat" 
        placeholder="Senha"/>
    </div>
</div>


{% endif%}
