{% extends "layout.njk" %}

{% block content %}
    <section class="users-options container2">

        <aside>    

            <div class="header">

                <img src="../images/chefimage.png" alt="">
                <h4>Rafael Nunes dos Santos</h4>
                <div class="userInfo">
                    <p><span>Master Pontos: </span> 9999999</p>
                    <p><span>Nivel: </span> Master Chef</p>
                    <p><span> Receitas enviadas:</span> 100</p>
                    <p><span> Curtidas:</span> 100 </p>
                </div>

            </div>

            <nav class="menu">
                <ul>
                 <a href=""><li>Quero fazer</li></a>
                 <a href=""><li>Ja fiz</li></a>
                 <a href=""><li>Meus dados</li></a>
                </ul>
            </nav>
        </aside>
        
        <section class="conteudo">

        </section>

    </section>

{% endblock content %}