{% extends "layout.njk" %}

{% block content %}
    <section class="users-options container2">

        {% include '../parts/userPerfil.njk' %}
        
        <section class="conteudo">
                    Receitas Favoritas!
        </section>

    </section>

{% endblock content %}