/* TODA A PARTE ADMINISTRATIVA DO USUARIO */

.container2{
    width: 85%;
    margin: auto;
}

.users-options{
    display: grid;
    grid-template-columns: 240px 1fr;
    margin-top: 48px;
    margin-bottom: 48px;
}


.users-options aside{
    margin-right: 10px;
}


.users-options .header{

    font-size: 14px;
    color: #f30;

    width: 100%;
    padding: 10px;    

    border: 1px solid #d4d4d4;
    box-shadow: 2px 1px -1px #d4d4d4;
    border-radius: 5px;
    text-align: center;
}

.users-options .header img{
    width: 150px;
    height:150px;
    border-radius: 50%;
}

.users-options .header .userInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
}


.users-options .header h4 {
    text-transform: capitalize;
    text-align: center;

    font-size: 18px;
    color: #8f0000;

    margin-bottom: 8px;
}


.users-options .menu{
    width: 100%;
    padding: 10px;    

    border: 1px solid #d4d4d4;
    box-shadow: 2px 5px 4px #d4d4d4;
    border-radius: 5px;
}


.users-options nav ul{   
    width: 100%;
    padding: 0 10px;
}

.users-options nav ul li{
    margin:4px 0;
    text-transform: uppercase;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
}

.users-options nav ul li:first-child{

    border-top: 1px solid #d4d4d4;
}

.users-options nav ul li{
    color: #6a6a6a;
}


.users-options nav ul li a{

    color: #6a6a6a;
    font-size: 14px;
    font-weight: 300;
   
 }

 .users-options nav ul li:hover{

    background-color:  #d4d4d4;
   
 }

 .conteudo{
     width: 100%;
     border-radius: 8px;     
    background-color: #fff;
 }

 .conteudo form{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
}

.conteudo form img{
    width: 150px;
    height:150px;
    border-radius: 50%;
}

.fields-img{
    width: 100%;
    display: flex;
    justify-content: center;
}



.conteudo .header{
    position: relative;
    width: 300px;
    margin: auto;
    border: none;
}

.headerButon  {
    padding: 8px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 2px -6px #333;
    background-color: rgb(250, 6, 6);
    color: white;

    margin: auto;

    width: 100%;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}

.header #photos-input{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;

}


.fields{
    margin-top: 15px;
}


section{
    margin-bottom: 48px;
}


#form-dados{
    border: 1px solid #d4d4d4;
    box-shadow: 2px 5px 4px #d4d4d4;
    padding: 30px;
}

#form-delete{
    margin-top: 20px;
    border: 1px solid #d4d4d4;
    box-shadow: 2px 5px 4px #d4d4d4;
    padding: 30px;
}

#form-foto{
    border: 1px solid #d4d4d4;
    box-shadow: 2px 5px 4px #d4d4d4;
    margin-bottom: 20px;
}