@keyframes hideMessage{
    to{
        top:-50px;
        opacity: 0;
    }
}

.messages{
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 16px;
    width: 100%;
    color: #fff;
    z-index: 9999;
    font-size: 20px;
    font-weight: bold;
    top: 0;

    animation: hideMessage 600ms 10s ease-out  forwards;

}

.errors{
    background-color: #e74c3c;
}

.success{
    background-color: #03f638;
}