<!DOCTYPE html>
<html>
    <head>


        {% block head %}
            <title>Master Rango</title>
        {% endblock %}

        {# INCLUINDO OS STILES CSS QUE ESTA NA PASTA PARTS/STYLES.NJK #}
        {% include "parts/styles.njk" %}

    </head>
    <body>

        {# INCLUINDO AS MENSAGENS DE ERRO #}
        {% include "parts/messages.njk" %}

        {% include "parts/header.njk" %}


        {%block content%}

        {%endblock%}

        {% include "parts/footer.njk" %}

    </body>
</html>