<header>

    <div class="topheader">
        
    </div>

    <div class="container">
       <div class="primarytop">
        <a href="/">
        <div class="logo">
            <h1>Master Rango</h1>
        </div>
        </a>

        <form class="search" action="/recipes/search">
            <input type="text" name="filter" placeholder="Buscar por Receitas" {%if search.term %} value="{{search.term}}" {% endif %}>

        </form>
       </div>
    {% if not session.userId %}
        <nav class="primary">
            <ul>
                <li>
                    <a href="/users/register">
                        <i class="material-icons">add</i>
                        Crie a sua conta
                    </a>
                </li>                

                <li>
                    <a href="/accounts">
                        <i class="material-icons">login</i>
                        Entrar
                    </a>
                </li>

                <li>
                    <a href="/receitas/enviar">
                        <i class="material-icons">list_alt</i>
                        Envie uma Nova Receita
                    </a>
                </li>
            </ul>
        </nav>

        {% else %}

         <nav class="primary">
            <ul>
                <li class="accounts">
                    <a href="/accounts">                        
                        {{user.name}}
                        <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                    
                    <ul class="submenu">
                        <li>
                            <div class="menu-header">
                                <div>
                                     <img src="../images/chefimage.png" alt="">
                                </div>

                                <div class="menu-info">
                                    <p>Ola,</p>
                                    <p> {{session.name}}</p>
                                    <p>Seu Nivel: {{user.levelUser_id}}</p>
                                   <p>Master Pontos: {{user.score}}</p> 
                                </div>
                            </div>
                               
                        </li>

                        <li>
                            <a href="/users">Minha Conta</a>
                        </li>

                        <li>
                            <form action="/users/logout" method="POST">
                                <button>SAIR</button>
                            </form>
                        </li>
                    </ul>

                </li>                

                <li>
                    <a href="/login">
                        <i class="material-icons">star</i>
                        Favoritas
                    </a>
                </li>

                <li>
                    <a href="/receitas/enviar">
                        <i class="material-icons">list_alt</i>
                        Envie uma Nova Receita
                    </a>
                </li>
            </ul>
        </nav>

        {% endif %}

           

    </div>

    <nav class="bottom-menu">
            <ul>
                <li>
                    <a href="/receitas">
                        <i class="material-icons">list_alt</i>
                        Receitas
                    </a>
                </li>

                {# <li class="categoria-menu">
                    <a href="#">
                        <i class="material-icons">filter_vintage</i>
                        Categorias
                    </a>

                    <ul class="submenu-categoria">
                        <li><a href="">Acompanhamentos</a></li>
                        <li><a href="">Bebidas</a></li>
                        <li><a href="">Bolos</a></li>
                        <li><a href="">Carne Bovina</a></li>
                        <li><a href="">Carne Suina</a></li>
                        <li><a href="">Frango</a></li>
                        <li><a href="">Peixes</a></li>
                        <li><a href="">Frutos do mar</a></li>
                        <li><a href="">Massas</a></li>
                        <li><a href="">Molhos</a></li>
                        <li><a href="">Sopas</a></li>
                        <li><a href="">Sobremesas</a></li>
                        <li><a href="">Lanches</a></li>
                        <li><a href="">Tortas</a></li>
                        <li><a href="">Saudaveis/Fitness</a></li>
                        <li><a href="">Saladas</a></li>
                        <li><a href="">Receitas para Vender</a></li>

                    </ul>

                </li> #}

                 <li>
                    <a href="/livros">
                        <i class="material-icons">book</i>
                        Livros de Receitas
                    </a>
                </li>

                <li>
                    <a href="/dicas">
                        <i class="material-icons">lightbulb</i>
                        Dicas
                    </a>
                </li>

                
                <li>
                    <a href="chefs">
                        <i class="material-icons">restaurant_menu</i>
                        Chefs
                    </a>
                </li>

                
                <li class="especial-menu">
                    <a href="#">
                        <i class="material-icons">assistant</i>
                        Especiais
                    </a>

                     <ul class="submenu-especiais">
                        <li><a href="">Sorteios</a></li>
                        {# <li><a href="">Ceia de Natal</a></li>
                        <li><a href="">Pascoa</a></li>
                        <li><a href="">Dia das Mães</a></li>
                        <li><a href="">Festa Junina</a></li> #}
                    </ul>

                </li>
            </ul>
        </nav>


    
      

</header>