<header>

    <div class="topheader">
        <h4>Ja possui uma conta ? <span><a href="#">ENTRAR</a></span> </h4>
    </div>

    <div class="container">
        <a href="/">
            <div class="logo">
                <h1>Master Rango</h1>
            </div>
        </a>

        <form class="search" action="/recipes/search">
            <input type="text" name="filter" placeholder="Buscar por Produtos" {%if search.term %} value="{{search.term}}" {% endif %}>

        </form>

        <nav class="primary">
            <ul>
                <li>
                    <a href=" /ads/create">
                        <i class="material-icons">add</i>
                        Nova Receita
                    </a>
                </li>

                <li>
                    <a href="/accounts">
                        <i class="material-icons">account_circle</i>
                        Minha Conta
                    </a>
                </li>
            </ul>
        </nav>


    </div>

    
         <nav class="bottom-menu">
            <ul>
                <li>
                    <a href="#">
                        <i class="material-icons">add</i>
                        Receitas
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="material-icons">add</i>
                        Categorias
                    </a>
                </li>

                 <li>
                    <a href="#">
                        <i class="material-icons">add</i>
                        Livros de Receitas
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="material-icons">account_circle</i>
                        Dicas
                    </a>
                </li>

                
                <li>
                    <a href="#">
                        <i class="material-icons">account_circle</i>
                        Chefs
                    </a>
                </li>

                
                <li>
                    <a href="#">
                        <i class="material-icons">account_circle</i>
                        Especiais
                    </a>
                </li>
            </ul>
        </nav>

</header>