<header>

    <div class="topheader">
        
    </div>

    <div class="container">
       <div class="primarytop">
        <a href="/">
        <div class="logo">
            <h1>Master Rango</h1>
        </div>
        </a>

        <form class="search" action="/recipes/search">
            <input type="text" name="filter" placeholder="Buscar por Receitas" {%if search.term %} value="{{search.term}}" {% endif %}>

        </form>
       </div>

        <nav class="primary">
            <ul>
                <li>
                    <a href="/accounts">
                        <i class="material-icons">add</i>
                        Crie a sua conta
                    </a>
                </li>                

                <li>
                    <a href="/login">
                        <i class="material-icons">login</i>
                        Entrar
                    </a>
                </li>

                <li>
                    <a href=" /ads/create">
                        <i class="material-icons">list_alt</i>
                        Envie uma Nova Receita
                    </a>
                </li>
            </ul>
        </nav>
           

    </div>

    <nav class="bottom-menu">
            <ul>
                <li>
                    <a href="/receitas">
                        <i class="material-icons">list_alt</i>
                        Receitas
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="material-icons">filter_vintage</i>
                        Categorias
                    </a>
                </li>

                 <li>
                    <a href="/livros">
                        <i class="material-icons">book</i>
                        Livros de Receitas
                    </a>
                </li>

                <li>
                    <a href="/dicas">
                        <i class="material-icons">lightbulb</i>
                        Dicas
                    </a>
                </li>

                
                <li>
                    <a href="chefs">
                        <i class="material-icons">restaurant_menu</i>
                        Chefs
                    </a>
                </li>

                
                <li>
                    <a href="#">
                        <i class="material-icons">assistant</i>
                        Especiais
                    </a>
                </li>
            </ul>
        </nav>


    
      

</header>