<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/styles.css">
<link rel="stylesheet" href="/showRecipes.css">
<link rel="stylesheet" href="/recipeslist.css">
<link rel="stylesheet" href="/pageindex.css">
<link rel="stylesheet" href="/lightslider.css">
<link rel="stylesheet" href="/searchPage.css">
<link rel="stylesheet" href="/styles/messages.css">
<link rel="stylesheet" href="/styles/dadosUsuario.css">
<script type="text/javascript" src="/JQuery3.3.1.js"></script>
<script type="text/javascript" src="/lightslider.js"></script>