<aside>

    <div class="header">

        <img src="../images/chefimage.png" alt="">
        <h4>{{user.name}}</h4>
        <div class="userInfo">
            <p>
                <span>Master Pontos:</span>
                {{user.score}}
            </p>
            <p>
                <span>Nivel:
                </span>
                {{user.levelUser_id}}
            </p>
            <p>
                <span>
                    Receitas enviadas:</span>
                100
            </p>
            <p>
                <span>
                    Curtidas:</span>
                100
            </p>
        </div>

    </div>

    <nav class="menu">
        <ul>
            <a href="">
                <li>Quero fazer</li>
            </a>
            <a href="">
                <li>Ja fiz</li>
            </a>
            <a href="">
                <li>Receitas Favoritas</li>
            </a>
            <a href="">
                <li>Chefs Favoritos</li>
            </a>
            <a href="">
                <li>Receitas Enviadas</li>
            </a>
            <a href="/users/edit">
                <li>Meu Perfil</li>
            </a>
        </ul>
    </nav>
</aside>